{% extends 'base.html' %}

{% block content %}
    <h1>Lista de familias</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Miembros</th>
            <th>Acciones</th>
        </tr>
        {% for familia in familias %}
        <tr>
            <td>{{ familia.nombre }}</td>
            <td>{{ familia.miembros }}</td>
            <td>
                <a href="{% url 'editar_familia' familia.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    
{% endblock %}
